@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Josefin+Sans:ital,wght@0,300;0,700;1,300&family=Montserrat:ital,wght@0,400;0,700;1,200&family=Oi&family=Righteous&family=Unbounded:wght@300;800&display=swap');

:root {
  --main-light-color: #ddd6fe;
  --main-dark-color: #ea580c;
  --highlight-color: #fde047;
  --text-color: #4d7c0f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-light-color);
  z-index: -1;
}

.container {
  z-index: 2;
}

h1 {
  font-family: Righteous, Times, serif;
  font-size: 6em;
  color: var(--main-dark-color)
}

.machine {
  width: 50vw;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: var(--highlight-color);
}

label {
  font-size: 2em;
  font-family: Righteous, Times, serif;
  color: var(--text-color);
  align-self: center;
  margin: .7em;
}

input[type="text"],
button[type="submit"] {
  width: 90px;
  height: 50px;
  font-size: 2em;
  font-family: Righteous, Times, serif;
  margin: .7em;
  align-self: center;
}

button[type="submit"] {
  font-size: 1em;
}

img {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;

}